/*@media (max-width: 768px) {
	#menu {
		display: none;
	}
	.thumbnail {
		width: 50% !important;
	}

}*/

#suggestionsList {
	display: none;
	list-style-type: none;
	position: absolute;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 1.5;
	background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#suggestionsList li {
	cursor: pointer;
	border-bottom: 1px solid #D1D5D8;
	
}

.jumbotron {
	height: 100vh;
	background: url('../img/background-restaurant.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%; /*responsive background*/
	margin-bottom: 0px;
	color: white;
}

.jumbotron #content-jumbotron
{
	font-weight: bold;
	font-size: 60px;
	letter-spacing: 5px;
	font-family: 'Pacifico', cursive, serif;
}
.brand {
	font-family: 'Pacifico', cursive, serif;
	font-size: 25px;
	color: #83D6DE;
	letter-spacing: 1.5px;
	padding-left: 20px;
	padding-right: 30px;
	line-height: 50px;
}
.jumbotron #header {
	position: relative;
	top: 50%; /*align the contents of this div vertically center*/
	transform: translateY(-50%); /*align the contents of this div vertically center*/
	text-align: center;
}

#pagination-demo{
  display: inline-block;
  margin-bottom: 1.75em;
}
#pagination-demo li{
  display: inline-block;
}

.page-content{
  background: #eee;
  display: inline-block;
  padding: 10px;
  width: 100%;
  max-width: 660px;
}

/*menu*/
#menu {
}
#menu ul {
	/*list-style: none;*/
	text-align: center;
}
#menu li {
	border-bottom: 1px solid #D1D5D8;
}
#menu  #header-menu {
	height: 50px;
	background: #83D6DE;
	font-size: 15px;
	border-radius: 4px;
	padding-top: 13px;
	color: white;
	/*border: 1px solid #e7e7e7;*/
}

.affix {
        top: 60px;
        width: 165px;
}
.affix-top {
	width: 165px;
}
.affix-bottom {
	width: 165px;
}
/*pagination*/
.pagination a {
	border-radius: 4px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

/*footer*/
#footer {
	background: #1A1A1A;
}
.footer-list {
	padding-top: 50px;
}
.footer-sublist {
	list-style: none;
	float: left;
	margin-left: 50px;
}
.footer-sublist-header {
	color: white;
	font-weight: bold;
    height: 24px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.footer-sublist-item a
{
	display: block;
	color: #6D6D6D;
	margin-bottom: 16px;
}
.separator {
	border-bottom: 2px solid #262626;
}
.footer-license {
	padding-top: 40px;
	padding-bottom: 40px;
	color: #6D6D6D;
}
.footer-logo {
	text-align: center;
	padding-top: 50px;
}

/*taskbar-right*/
.taskbar-right {
	float: right;
}

.badge-css {
	font-weight: bold;
	float: right;
	color: white;
	text-align: center;
	padding-top: 7px;
	font-size: 15px;
	width: 30px;
	height: 30px;
	background: #55C34D;
	border-radius: 50%;
}
.btn {
	width: 65px;
}
/*#icon*/
#icon .fa {
	bottom: 0;
	position: relative;
	transition: all 0.2s ease-in-out;
}
#icon .fa:hover{
	bottom: 5px;
	color: #83D6DE;
}

/*thumbnail*/
.thumbnail {
	padding: 0px;
	transition: 0.3s;
	position: relative;
	bottom: 0;
}
.thumbnail:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	bottom: 3px;
}
#content {
	/*background: #EEEDEE;*/
	padding-top: 30px;
}

.btn-sort {
	width: 90px;

	float:right;
	margin: 0 10px 10px 0;

}
/*.btn-sort:hover {
	background: #5cb85c;
}*/
